* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

main {
  display: flex;
  align-items: center;
}

.background {
  width: 872px;
  height: 100vh;
  background-image: url(asset/image/large\ image.jpg);
  background-size: cover;
}

.background h3 {
  margin: 50px 0 0 50px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.main-container {
  width: 1048px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 50px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbar a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.navbar-left a {
  margin: 0 45px 0 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.skills a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.skills-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-right {
  border-bottom: 1px solid black;
}

.bio {
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.bio a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.large-text {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 245px;
  height: 175px;
  letter-spacing: 45px;
  margin: 25px 0 0 0;
  /* transform: translateY(-20%); */
}

.outline-text {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 245px;
  letter-spacing: 20px;
  height: 175px;
  letter-spacing: 45px;
  margin: 25px 0 80px 0;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.466);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

h3 {
  font-size: 45px;
  transform: translateY(25%);
}

.small-image {
  width: 120px;
  height: 120px;
  background-image: url(asset/image/small\ image.png);
  background-size: cover;
}
